body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

/* h1 text */
.text-color {
  color: #191970;
}
.text-position{
  display: block;
}

/* cards */
.card {
  width: 45%;
}
.left {
  float: left;
}
.right {
  float: right;
}

/* image */
.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
}

/* Mobile Devices */
@media (max-width: 680px) {
  .logo {
    width: 100px;
  }
  h1 {
    text-align: center;
    font-size: 3.5rem;
  }
  .tile-image {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .card-text {
    display: block;
    margin-top: 16px;
    text-align: justify;
  }
  .left, .right {
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }
}