body{
    font-family: sans-serif;
    margin: 0;
    background-color: aquamarine;
}
header{
    background-color: #14161A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px;
}
a{
    color: white;
    text-decoration: none;
}
.logo img{
    height: 50px;
}
.logo{
    display: flex;
    align-items: center;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: yellow;
}

.image-container{
    margin: 100px auto;
    width: 500px;
    display:flex;
    justify-content: center;
}

.image-container .image {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-right: 10px;
}

.image-container .image img{
    height: 50px;
    width: 50px;
}

.image-container .image .name{
    position: absolute;
    top: -40px;
    display: none;
    color: white;
}

.image-container .image:hover .name{
    display: flex;
}
@media (max-width: 680px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}

