body{
    font-family: sans-serif;
    margin: 0;
    background-color: aquamarine;
}
header{
    background-color: #14161A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px;
}
a{
    color: white;
    text-decoration: none;
}
.logo img{
    height: 50px;
}
.logo{
    display: flex;
    align-items: center;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: yellow;
}

.image-container{
    margin: 100px auto;
    width: 500px;
    display:flex;
    justify-content: center;
}

.image-container .image {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-right: 10px;
}

.image-container .image img{
    height: 70px;
    width: 70px;
}

.image-container .image .name{
    position: absolute;
    top: -60px;
    left: -30px;
    display: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 10px 15px;
}

.image-container .image .name .text{
    display: inline-block;
    box-sizing: border-box;
    width: 100px;
    top: -55%;
    left: calc(-50% -30px);
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    margin: 0;
}

.image-container .image:hover .name{
    display: inline-block;
}

.image-container .image .name::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    left: 40%;
    bottom: -10px;
    border-top: 10px solid black;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-top: 0

}

@media (max-width: 680px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}

