body{
    font-family: sans-serif;
    margin: 0
}
header{
    background-color: #14161A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px;
}
a{
    color: white;
    text-decoration: none;
}
.logo img{
    height: 50px;
}
.logo{
    display: flex;
    align-items: center;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: yellow;
}