body{
    font-family: sans-serif;
}
header{
    background-color: #14161A;
    display: flex;
}
a{
    color: white;
    text-decoration: none;
}
.logo img{
    height: 50px;
}
.logo{
    display: flex;
}