
.roboto-condensed-uniquifier {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body{
    font-family: "Roboto Condensed", sans-serif;
    background-image: url('background.png');
    color:rgb(2, 55, 67);
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head img{
    height: 100px;
    margin: 40px;
}
.head-title{
    font-size: 2rem;
    width: 300px;
    text-align: end;
}
.head-text{
    width: 300px;
}
.grid-container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 60% 40%;
    height: 80vh;
}
.summary{
    background-color: rgba(17, 134, 95, 0.273);
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.xl-degree{
    font-size: 10rem;
}
.large-degree{
    font-size: 4rem;
}
.wind{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.warning-container{
    display: flex;
    align-items: center;
}
.sign img{
    height: 100px;
}
.forecast{
    background-color: rgb(216, 185, 247);
    grid-column: span 2;
}
@media (max-width:768px) {
    .grid-container{
    grid-template-columns: 100%;
    grid-template-rows: 4fr 1fr 1fr 1fr 1fr;
    min-height: 80vh;
}
    .summary, .wind, .degree, .forecast {
        grid-column: 1;
    }
    .wind{
        margin-top: 80px;
    }
    .forecast {
        grid-row: span 2;
    }
    .xl-degree{
    font-size: 6rem;
}
.large-degree{
    font-size: 3rem;
}
}