body {
    background-color: rgb(0, 0, 0);
}
img {
    width: 100%;
    border: 2px solid white;
}
h1 {
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
    font-size: 3rem;
    color: white;
}

p {
    color: white;
}

div{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    text-align: center;
    color: white;
}