html {
    background-color: black;
    color: white;
    text-align: center;
}
img {
    width: 100%;
    border: 5px solid white;
}
h1 {
    font-family: "Libre Baskerville", serif;
}

div{
    width: 50%;
    margin-left: 25%;
}