.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.search-bar{
    display: flex;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 100px auto;
}

.search-bar:focus-within{
    border: 1px solid #aaa;
    box-shadow: 0px 2px 5px rgb(39, 38, 38, 0.2);
}

.search-bar input{
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
}

.search-bar .action{
    display: flex;
    gap: 5px;
}

.search-bar .action button{
    border: none;
    background: none;
    cursor: pointer;
    color: #999;
}

.search-bar .action button:hover{
    color: #2979e2;
}

/* paypal card */
.container{
    background-color: #2979e2;
    display: flex;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.container .sub-container{
    width: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    box-shadow: 0px 5px 15px rgba(206, 239, 245, 0.5);
}

.container .sub-container .content{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
    flex: auto
}

.container .sub-container .content .icon{
    margin-right: 10px;
}

.container .sub-container .content .message .title{
    font-weight: bolder;
}

.container .sub-container .actions{
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.container .sub-container .actions button{
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.container .sub-container .actions .btn-download{
    background-color: #029BE1;
    color: white;
}

.container .sub-container .actions .btn-download:hover{
    background-color: #0280DE;
}

.container .sub-container .actions .btn-return{
    background-color: white;
    border: 1px solid #ccc;
}

.container .sub-container .actions .btn-return:hover{
    background-color: #ccc;
}

@media (max-width:680px){
    .container .sub-container{
        width: 80%;
    }
    .container .sub-container .actions{
        flex-direction: column;
    }
}